<ul>
  <li>Use 127.0.0.1 and not localhost</li>
  <li>Use active_record_store for session/cookies</li>
  <li>Create an app on Discogs.com via your developer settings</li>
  <li>Add your "Consumer Key" and "Consumer Secret" into controllers/images</li>
</ul>

<a href="/images/authenticate">Authenticate Discogs.com account</a>
